extends layout

block content
  h3 About this server
  p This website is written in node.js using express, jade, stylus and forever.
  p It is currently running on a raspberry pi.
  p You can view the source code on github 
    a(href='https://github.com/bakkerthehacker/simple-server' target='_blank') here
    | .
  h3 About me
  p My name is Grant Bakker.
  p I am currently studying electrical engineering at the University of Waterloo.
  p You can find me on various websites below.
    ul.contact
      mixin contactLink(href, name, icon)
        li
          a(href=href target='_blank')
            img(src='/images/'+imgSize+'/'+icon+'.png')
            = name
      +contactLink('https://github.com/bakkerthehacker', 'Github', 'octocat')
      +contactLink('https://www.linkedin.com/pub/grant-bakker/71/723/b53', 'LinkedIn', 'linkedin')
      +contactLink('http://steamcommunity.com/id/bakkerthehacker', 'Steam', 'steam')
      +contactLink('mailto:grant@bakker.pw', 'Email', 'evolution')
      +contactLink('https://www.google.com/+GrantBakker', 'Google+', 'google')
      +contactLink('https://twitter.com/bakkerthehacker', 'Twitter', 'twitter')
      +contactLink('https://www.facebook.com/grant.bakker', 'Facebook', 'facebook')
      +contactLink('http://www.last.fm/user/bakkerthehacker', 'Last.fm', 'lastfm')

