extends layout

block content
	p Welcome to #{domain}
	each server in status
		h3 #{server.name} Status
		ul.status
			li #{(server.online ? 'Online ' : 'Offline ')}
				img(src='/images/' + 16 + '/' + (server.online ? 'online' : 'offline') +'.png')
			li Disk usage #{server.disk}
