extends layout

block content
  p The survival server is <strong>survival.bakker.pw</strong>
  p The creative server is <strong>creative.bakker.pw</strong>
  h3 Survival Rules
  ul.rules
    li Survive
  h3 Creative Rules
  ul.rules
    li No massive TNT explosions
    li Do not break things that are not yours
    li Do not use the plugins unless you know what you are doing
  h3 Map
  p The map is available at 
    a(href='http://' + link target='_blank')
      <strong>#{link}</strong>
