extends layout

block content
	p The torrent server is 
		a(href=link.server target='_blank')
			<strong>here</strong>
	p The files show up 
		a(href=link.files target='_blank')
			<strong>here</strong>
		|  or 
		a(href='http://192.168.10.50/vps_clone/' target='_blank')
			<strong>here</strong>

	p The username is <strong>torrent</strong> and the password is the wifi password
