extends layout

block content
  p The torrent server is 
    a(href='http://' + link)
      <strong>#{link}</strong>
  p The username is <strong>torrent</strong> and the password is the wifi password
  h3 Torrent Rules
  ul.rules
    li Do not use μTorrent
    li Torrenting must use ports 50,000 - 60,000
