extends layout

block content
  p The raspberry pi running XBMC may be controlled at 
    a(href='http://' + link)
      <strong>#{link}</strong>
  p The username is <strong>xbmc</strong> and the password is the wifi password
