@font-face
	font-family: custom_header
	src: url('../fonts/Roboto-Thin.ttf') format("truetype")

@font-face
	font-family: custom_body
	src: url('../fonts/Roboto-Regular.ttf') format("truetype")

html
	overflow-y: scroll

body
	padding: 15px
	font-size: 14px
	font-family: custom_body , "Lucida Grande", Helvetica, Arial, sans-serif
	
h1
	margin-top: 0px
	margin-bottom: 30px
	font-size: 60px
	font-family: custom_header
h2
	margin-top: 60px
	font-size: 30px
	font-family: custom_header
h3
	font-size: 20px
	font-family: custom_header

a:link
	color: #127fdc
	text-decoration: none
a:visited
	color: #17344d
	text-decoration: none
a:hover
	color: #669dcc
	text-decoration: underline
a:active
	color: #17344d
	text-decoration: underline

.cleanList
	list-style-type: none

.nav
	margin: 15px
	float: right
	list-style-type: none
.active
	list-style-type: disc

.contact
	list-style-type: none

img
	vertical-align: middle
